.rect {
    vertical-align: top;
  font-size: 21px;
  width: 30%;
border-color: balck;
border-width: 1px;
border-style: solid;
  margin: 3px;
  display: inline-block;
  background-color: rgb(238, 238, 238);
}
h1 {overflow:hidden;
margin: 3px;}
p{margin: 3px;

.main {
  align
  padding: 30px 10px;
  font-size: 0px;
}
